APK/*
*/node_modules
node_modules
*/.expo/*
*/npm-debug.*
*/*.jks
*/*.p8
*/*.p12
*/*.key
*/*.mobileprovision
*/*.orig.*
*/web-build/
*/web-report/
*.code-workspace
.gitignore
node_modules/**/*
.expo
.expo/*
/.expo
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
package-lock.json
package.json

# macOS
.DS_Store
